[submodule "libs/serialib"]
	path = libs/serialib
	url = https://github.com/imabot2/serialib
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
[submodule "libs/portable-file-dialogs"]
	path = libs/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl
